@section Styles{
    <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<a asp-controller="YayinEvi" asp-action="Add" class="btn btn-primary">EKLE</a>

<table id="tblYayinEvleri"  class="table table-striped">
  

</table>

@section Scripts{
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>

        var DataTable;

        $(document).ready(function () {

            DataTable = $("#tblYayinEvleri").DataTable({
                ajax: "/YayinEvi/GetAllPublishers",
                columns:[
                    {data:"id",title:"ID"}, 
                    {data:"ad",title:"Yayın Evi Adı"}, 
                    {data:"adres", title:"Adres"}, 
                    {data:"tel",title:"Telefon"},
                    {
                        data: "id", title: "İşlemler", render: function (id, type, row) {
                            return `<a onclick="yayinEviSil(${id})" class="btn btn-danger">Sil</a>`;
                        }
                    }
                ]

            });


        });



   
        function yayinEviSil(disaridanGelenId) {

            Swal.fire({
                title: 'Silmek istediğiniz emin misiniz ??',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText:'Hayır'
              
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/YayinEvi/DeleteAjax',
                        data: {
                            id: disaridanGelenId
                        },
                        success: function (res) {
                            $("#trYayinEvi-" + disaridanGelenId).remove();
                            DataTable.ajax.reload();
                            toastr.success("Silme işlemi başarılı","BAŞARILI !")

                        }
                    });



                } 
            })
            
            
            
            
            
            
            
            
            
            
          
            

           
        
        }


    </script>

}