@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}

@if( User.IsInRole("Admin"))
{
    <h1>Hoşgeldin @User.FindFirstValue(ClaimTypes.NameIdentifier)</h1>
}
else
{
    <h1>giren kullanıcı USER</h1>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
